.blog-bg {
  background-image: url('../../../assets/images/products-banner-rice-varieties.webp'); /* Placeholder image */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.blog-posts {
  padding: 50px 0;
  text-align: center;
}

.blog-posts h2 {
  margin-bottom: 20px;
}

.blog-posts p {
  font-size: 1.1em;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 20px auto;
}
